#banner{
	width: 100%;
}
/* 轮播图 */
.banner_img{
	width: 1920px;
	height: 460px;
	margin: 0 auto;
}
.banner_img .wrap{
	width: 1920px;
	height: 460px;
	margin: 0 auto;
}
.banner_img .wrap .ban_btn{
	width: 1200px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner_img .wrap ul{
	position: absolute;
	display: flex;
	bottom: 19px;
	left: 300px;
	z-index: 10;
}
.banner_img .wrap .pic{
	position: relative;
}
.banner_img .wrap .pic img{
	position: absolute;
	opacity: 0;
}
.pic img.show{
	z-index: 10;
  }
.wrap ul li.active{
	background: #fff;
	border: 3px solid #aecfc8;
	margin-top: -1px;
}
.wrap ul li{
	width: 10px;
	height: 10px;
	background: #c1e6de;
	border-radius: 50%;
	margin-right:5px; 
	border: 1px solid transparent;
}
.banner_img .perv,.banner_img .next{
	width: 36px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0,0.3);
	background-image: url(../images/d.png);
	position: absolute;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	z-index:20;
}
/* 上一页按钮 */
.wrap .perv{
	top: 50%;
	left: 150px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-position: -234px -114px;
}
/* 下一页按钮 */
.wrap .next{
	top: 50%;
	right:0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-position: -142px -114px;
}