#centent{
	width: 1189px;
	height: 620px;
	margin: 0 auto;
	position: relative;
}
#centent .centent_top{
	width: 1190px;
	height: 261px;
	background: #fff;
	margin:0 auto;
}
#centent li{
	/* margin-left: 40px; */
}
#centent .list1{
	width: 190px;
	height: 261px;
	background: #e02b20;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	margin-left: 0;
}
#centent .list1 img{
	margin-top: 30px;
}
#centent .list1 strong{
	font-size: 20px;
}
#centent .list1 p i{
	width: 30px;
	height: 30px;
	background: #2f3430;
	font-style: normal;
	font-size: 24px;
}
#centent .list2{
	width: 850px;
	height: 300px;	
	position: relative;
}
#centent .main{
	width: 850px;
	height: 300px;	
	overflow:hidden;
}
.list2 .mainbox{
	width: 6000px;
}
.list2 .marp{
	width: 850px;
	height: 250px;
	float: left;
}
.list2 .marp div{
	width: 190px;
	height: 240px;
	display: flex;
	float: left;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0 0 20px;
}
.list2 .leftprev{
	border-top-right-radius: 60%;
	border-bottom-right-radius: 60%;
	left: 0;
	top: 40%;
}
.list2 .rightnext{
	border-top-left-radius: 60%;
	border-bottom-left-radius: 60%;
	right:0;
	top: 40%;
}
.list2 .leftprev,.list2 .rightnext{
	position:absolute;
	width: 25px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	color: #fff;
	background: #ccc;
	cursor: pointer;
}
#centent .list2 p{
	width: 160px;
	height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #333333;
}
#centent .list2 span{
	width: 160px;
	height: 24px;
	display: block;
	background: #e1251b;
	color: #fff;
	margin:9px auto;
}
/* 第三个轮播 */
#centent .list3{
	width: 180px;
	height: 260px;
	text-align: center;
	position: relative;
}
.list3 .listbox{
	overflow:hidden;
}
#centent .list3 .puter{
	width: 1000px;
	height: 240px;
}
.list3 .puter div{
	width: 150px;
	float: left;
	padding: 0 20px 0 20px;
}
.list3 .puter img{
	margin-top: 30px;
}
.list3 .puter p{
	font-size: 14px;
	color: #666666;
	text-align: center;
}
.list3 .puter p:nth-child(2){
	color: #333333;
}
.list3 .puter span{
	width: 83px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #e1251b;
	color: #e1251b;
	border-radius: 10px;
	display: block;
	margin: 10px auto;
}
#centent .list3 ul{
	position: absolute;
	left: 75px;
}
#centent .list3 ul li{
	width: 5px;
	height: 5px;
	background: #999999;
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}
#centent .list3 ul li.active{
	background: #e1251b;
}
/* 结束 */
.centent_cen{
	width: 1189px;
	margin:20px auto;
	position: relative;
}
.centent_01,.centent_02{
	width: 590px;
	height: 342px;
	position: absolute;
	background: #fff;
}
.centent_01{
	/* overflow: hidden; */
}
.centent_01 .box_hd{
	display: flex;
	justify-content: space-between;
}
.centent_01 .box_hd h2{
	color: #333333;
	margin:17px 0 0 20px;
}
.centent_01 .box_hd h2 img{
	margin-left: 10px;
}
.centent_01 .show{
	display: block;
}
.box_con{
	/* display:flex; */
	display: none;
}
.centent_01 .box_con .sound{
	width: 150px;
	height: 265px;
	background: #f7f8f9;
	line-height: 24px;
	text-align: center;
	margin: 15px 0 0 15px;
	float: left;
}
.centent_01 .box_con .sound p{
	color: #333333;
	font-size: 14px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.centent_01 .box_con .sound span{
	width: 90px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background: #f7b027;
	color: #fff;
	font-size: 12px;
	display: block;
}
.centent_01 b{
	font-size: 20px;
	color: #e1251b;
}
.centent_01 b i{
	color: #e1251b;
}
.centent_01 i{
	font-size: 10px;
	font-style: normal;
	color: #999999;
	text-decoration: line-through;
}
.centent_01 .discount{
	width: 400px;
	padding: 10px;
	float: left;
}
.centent_01 .discount img{
	float: left;
	margin-top: 10px;
}
.centent_01 .discount div{
	height: 150px;
	line-height: 30px;
	float: left;
}
.centent_01 .discount div i{
	display: block;
}
.centent_01 .discount div p span{
	color: #e1251b;
}
.centent_01 .discount div p{
	font-size: 12px;
	color: #333333;
	width: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.centent_01 ul{
	width: 260px;
	margin-top: 20px;
}
.centent_01 ul li{
	margin-left: 13px;
}
.centent_01 ul li a{
	color: #999999;
}
.centent_01 ul li a.ative{
	color: #e1251b;
	border-bottom: 2px solid #e1251b;
}
.centent_01 table{
	width: 406px;
	height: 265px;
	margin-left: 10px;
	border: none;
}
.centent_02{
	right: 0;
	margin-left: 10px;
	display: flex;
}
.centent_02 h2{
	position: absolute;
	color: #333333;
	margin:17px 0 0 20px;
}
.centent_02 h2 img{
	margin-left: 10px;
}
.centent_02 div{
	text-align: center;
	width: 270px;
	height: 265px;
	line-height: 20px;
	background: #f6f9f5;
	margin: 60px 0 0 16px;	
}
.centent_02 div img{
	margin-top: 20px;
}
.centent_02 div h4{
	margin-top: 16px;
	color: #363936;
}
.centent_02 div p{
	
	color: #656965;
}
.centent_02 table{
	width: 305px;
	border: none;
	margin-top: -30px;
	margin-left: 90px;
	position: absolute;
	right: 0;
}
.centent_02 table td{
	text-align: center;
}
.centent_02 table p{
	color: #666666;
	font-size: 12px;
	width: 100px;
	margin-top: 10px;
}