#exhibition{
	width: 1190px;
	height: 260px;
	background: #fff;
	margin: 20px auto;
	display: flex;
}
#exhibition .exhbox{
	width: 960px;
	overflow: hidden;
}
#exhibition .map{
	width: 3000px;
}
#exhibition ul{
	float: left;
}
#exhibition li{
	margin-left: 62px;
	text-align: center;
	width: 130px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#exhibition li div{
	line-height: 50px;
	margin-top: 44px;
	cursor: pointer;
}
#exhibition li div:hover{
	color: #e1251b;
}

/* 新品首发 */
#exhibition2{
	width: 1190px;
	height: 340px;
	margin: auto;
}
#exhibition2 h2{
	margin:10px 0 0 -160px;
}
#exhibition2 h2 img{
	margin-left: 10px;
}
#exhibition2 li{
	text-align: center;
	width: 290px;
	height: 340px;
	background: #fff;
	margin-left: 9px;
}
#exhibition2 .pho{
	position: relative;
}
#exhibition2 .pho .pr,
#exhibition2 .pho .nx{
	width: 25px;
	height: 35px;
	line-height: 35px;
	background-color: rgba(0,0,0,.15);
	position: absolute;
	top: 50%;
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
}
#exhibition2 .pho .pr{
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	left: 0;
}
#exhibition2 .pho .nx{
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	right: 0;
}
#exhibition2 .pho .phbox{
	width: 290px;
	height: 290px;
	margin-top: 30px;
	overflow:hidden;
}
#exhibition2 .pho .phmain{
	width: 4000px;
}
#exhibition2 .pho .phcon{
	float: left;
}
#exhibition2 .pho .phone{
	float: left;
	width: 300px;
}

#exhibition2 .pho p{
	width: 199px;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin:10px auto 0;
	
}
#exhibition2 .pho span{
	color: #999999;
	font-size: 12px;
}
#exhibition2 .pho p:nth-of-type(2){
	color: #e1251b;
	margin-top: 27px;
}
#exhibition2 .pho img:nth-child(2){
	margin-top: 40px;
}
#exhibition2 .Cont a{
	font-size: 12px;
	color: #999999;
}
#exhibition2 .Cont .Control:nth-of-type(1){
	display: block;
}
#exhibition2 .Cont .Control{
	margin-top: 20px;
	display: none;
}
#exhibition2 .Cont .Control div{
	display: flex;
	align-items: center;
	margin: 10px 0 0 10px;
}
#exhibition2 .Cont .Control p{
	width: 134px;
	height: 40px;
	overflow: hidden;
	color: #333333;
}
#exhibition2 .Cont li{
	background: #f6f6f6;
	border-radius: 10px;
	width: 62px;
	height: 20px;
	line-height: 20px;
}
#exhibition2 .Cont ul li.clor{
	background: #e1251b;
}
#exhibition2 .Cont ul li a.bin{
	color: #fff;
}

#exhibition2 li:nth-child(3) div{
	width: 260px;
	height: 128px;
	margin-left: 10px;
}
#exhibition2 li:nth-child(3) div p{
	font-size: 14px;
	color: #333333;
}
#exhibition2 li:nth-child(3) div i{
	font-size: 12px;
	color: #99a3bd;
	font-style: normal;
	display: block;
	margin-top: 20px;
}
#exhibition2 li:nth-child(3) div img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
}
#exhibition2 li:nth-child(3) div span{
	margin-right: 10px;
}
#exhibition2 li:nth-child(3) .lban span:nth-of-type(1){
	width: 28px;
	height: 16px;
	border: 1px solid #e2231a;
	color: #e2231a;
	font-size: 10px;
	display: inline-block;
}
#exhibition2 li:nth-child(3) .beimain span,
#exhibition2 li:nth-child(3) .lban span:nth-of-type(2)
{
	width: 53px;
	height: 16px;
	border: 1px solid #596fab;
	color: #596fab;
	font-size: 10px;
	display: inline-block;
}
#exhibition2 li:nth-child(3) .lban{
	background: #f8f3f6;
	display: flex;
}
#exhibition2 li:nth-child(3) .lban div,
#exhibition2 li:nth-child(3) .beimain div
{
	text-align: left;
}
#exhibition2 li:nth-child(3) .lban p,
#exhibition2 li:nth-child(3) .beimain p
{
	margin-top: 18px;
}
#exhibition2 li:nth-child(3) .beimain{
	background: #efeff6;
	margin-top: 10px;
	display: flex;
}