#header{
	width: 100%;
	height: 60px;
	background: #990c1c;
}
#header .W_head{
    width: 1200px;
    margin: 0 auto;
}
/*header--结束*/
/* 通用浮动 */
.fl{
    float: left;
}
.fr{
	float: right;
}
a{
	color: #666666;
}
/* 通用超出文字显示省略号 */
.elps1{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.elps2{
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	display: -webkit-box;
}