#section{
	width: 1189px;
	margin: 0 auto;
}
#section table{
	width: 1189px;
	border: none;
}
#section table td{
	width: 290px;
	height: 180px;
	background: #fff;
}
#section table .td_1{
	background: #e4cdc5;
	text-align: center;
	
}
#section table .td_1 h3{
	color: #a66e58;
	font-size: 28px;
	margin-top: -30px;
	margin: auto;
}
#section table .td_1 span
{
	color: #6c635f;
	font-size: 20px;
}
#section table .td_1 img{
	margin: 10px 20px;
}
#section table .td_2 span
{
	color: #6c635f;
	font-size: 20px;
	margin-bottom: 50px;
}
#section table .td_2 h3{
	color: #548d75;
	font-size: 28px;
	margin-top: -25px;
	
}
#section table .td_2 img{
	margin: 15px 20px;
}
#section table .td_2{
	background: #c7e2d7;
	text-align: center;

}
#section table td h3{
	color: #333333;
	margin-left: 30px;
	font-size: 20px;
}
#section table td h3 span{
	font-size: 12px;
	color: #999999;
}
#section table td img{
	margin-left: 40px;
}
#section2{
	width: 1189px;
	margin: 20px auto;
}
#section2 ul{
	height: 60px;
	justify-content: space-around;
	background: #fff;
}
#section2 ul li{
	text-align: center;
}
#section2 ul li h4{
	width: 80px;
	height: 27px;
	line-height: 27px;
	color:#333333 ;
	margin:5px auto;
}
#section2 ul li h4.stly{
	background: #e1251b;
	border-radius: 10px;
	color: #fff;
}
#section2 ul li p.tiy{
	color: #e1251b;
}
#section2 ul li p{
	color: #999999;
	width:180px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#section2 table{
	width: 1189px;
	margin:  auto;
	border: none;
}
#section2 table td{
	width: 232px;
	height: 322px;
	background: #fff;
	text-align: center;
}
#section2 table td p{
	width: 184px;
	height: 40px;
	margin: auto;
	font-size: 14px;
	color: #666666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#section2 table td span{
	font-size: 14px;
	color: #e1251b;
	font-weight: bold;
	float: left;
	margin-left: 40px;
}
#section2 table td span i{
	font-size: 20px;
	font-style: normal;
}