#W_index_block{
    width: 1200px;
    margin: 12px auto 0;
    overflow: hidden;
}
.index_block_01{
    width: 1230px;
    height: 280px;
}
.index_block_01 a{
    display:inline-block;
    width: 291px;
    height: 280px;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
    color: #fff;
}
.index_block_01 a img{
    transition: .5s;
}
.index_block_01 a:hover img{
    transform: scale(1.1);

}
.index_block_01 a .p_txt{
    width: 291px;
    position: absolute;
    text-align: center;
    top: 10px;
    z-index: 10;
    margin-top: 10px;
}
/* index_block_01结束 */
.index_block_02{
    width: 1200px;
    overflow: hidden;
    /* height: 420px; */
}
/* 共用标题开始 */
.index_hed{
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    /* display: flex;
    align-items:center; */
}
.index_hed h3{
    float: left;
    font-size: 20px;
    color: #4a4a4a;
    line-height: 60px;
    font-weight: bold;
}
.index_hed span{
    color: #666;
    background-color: #e6e6e6;
    float: left;
    cursor: pointer;
    width: 72px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    margin: 16px 8px 0 20px;
    font-size: 12px;
    position: relative;
}
.index_hed span.on{
    background-color: #333;
    color: #f2d291;
 
}
.index_hed span i{
    background-image: url(../images/d.png);
    position: absolute;
    display: none;
    left: 30px;
    width: 11px;
    height: 4px;
    background-position: -326px -168px;
    background-size: 475px;
}
.index_hed span i.bk{
    display: block;
}
.index_hed a{
    float: right;
    color: #333;
}
/* 标题结束 */
.index_block_02 .index_home{
    width: 1300px;
}
.home_left{
    float: left;
}
/* 通用放大图片效果 */
 .left_ggt{
    display: inline-block;
    width: 392px;
    overflow: hidden;
    position: relative;
    color: #fff;
}
.left_ggt img{
    transition: .5s;
}
.left_ggt:hover img{
    transform: scale(1.1);
}
.left_ggt .p_txt{
    width: 392px;
    position: absolute;
    text-align: center;
    bottom: 30px;
    z-index: 10;
}
.left_ggt .p_txt .p1{
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 700;
}
.left_ggt .p_txt .p2{
    font-size: 12px;
}
/* 结束 */
.home_rigth{
    width: 850px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.home_rigth a{
    display: inline-block;
    margin-left: 12px;
    width: 392px;
    height: 174px;
    margin-bottom: 12px;
    overflow: hidden;
}
.home_rigth a:hover{
    box-shadow: 0 0 10px 2px #ccc;
}
/* 自营精选结束 */
.index_block_03{
    width: 1200px;
    overflow: hidden;
}
.gnTabs_block{
    width: 6000px;
    /* overflow: hidden; */
}
.gnTabs_block .box_con{
    display: none;
    float: left;
}
.gnTabs_block .box_con.sbox{
    display: block;
}
.gnTabs_cen{
    width: 392px;
    height: 280px;
    background: #fff;
    position: relative;
    margin-left: 12px;
}
.gnTabs_cen:hover{
    box-shadow: 0 0 10px 2px #ccc;
}
.gnTabs_cen a>img{
    float: left;
}
.cen_right{
    float: left;
    margin-top: 50px;
}
.cen_right p{
    width: 164px;
    height: 24px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    color: #333;
}
.cen_right .sp1{
    color: #cc9952;
    line-height: 12px;
    font-family: DIN-Bold;
}
.cen_right .sp2{
    color: #999;
    line-height: 12px;
    font-family: DIN-Bold;
}
.cen_right .sp3{
    display: block;
    margin-top: 25px;
    width: 87px;
    height: 26px;
    line-height: 25px;
    color: #cc9952;
    text-align: center;
    letter-spacing: .86px;
    border-radius: 100px;
    border: 1px solid #cc9952;
}
.cen_right .sp3:hover{
    background: #cc9952;
    color: #fff;
}
.gnTabs_cen .phb_01{
    top: 10px;
    left: 10px;
    position: absolute;
}
.phb_01 i{
    background-image: url(../images/d.png);
    background-position: 0 -404px;
    background-size: 475px;
    width: 43px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    display: block;
    color: #fff;
    font-weight: 700;
}
/* gnTabs_cen结束 */
.gnTabs_rigth{
    width: 404px;
    height: 292px;
    display: flex;
    flex-wrap: wrap;
}
.gnTabs_rigth>a{
    display: block;
    position: relative;
    width: 190px;
    height: 134px;
    margin-bottom: 12px;
    margin-left: 12px;
    overflow: hidden;
    background-color: #fff;
}
.gnTabs_rigth>a img{
    display: block;
    margin: 0 auto;
}
.gnTabs_rigth>a .b_txt{
    position: absolute;
    bottom: -60px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    line-height: 12px;
    background: rgba(255,255,255,.8);
    transition: .3s;
}
.b_txt p{
    color: #666;
    line-height: 12px;
    margin-bottom: 6px;
    font-size: 12px;
}
.b_txt .sp1{
    color: #cc9952;
    line-height: 12px;
    font-family: DIN-Bold;
}
.b_txt .sp2{
    color: #999;
    line-height: 12px;
    font-family: DIN-Bold;
}
.gnTabs_rigth>a:hover .b_txt{
    bottom:0;
}
.gnTabs_rigth>a .phb_02{
    position: absolute;
    top: 10px;
    left: 7px;
    color: #cc9952;
    font-weight: 700;
    line-height: 12px;
    font-family: DIN-Bold;
    font-weight: 700;
}

/* 左右切换按钮 */
.index_block_03{
    position: relative;
}
.index_block_03 .left_btn,.index_block_03 .right_btn{
    position: absolute;
    top: 170px;
    width: 30px;
    height: 60px;
    cursor: pointer;
}
.index_block_03 .left_btn:hover{
    background-image: url(../images/d.png);
    background-position: -262px -184px;
}
.index_block_03 .right_btn:hover{
    background-image: url(../images/d.png);
    background-position: -342px -184px;
}
.index_block_03 .left_btn{
    left: 0;
}
.index_block_03 .right_btn{
    right: 0;
}
.left_btn i,.right_btn i{
    display: block;
    background-image: url(../images/d.png);
    background-size: 475px;
    width: 30px;
    height: 60px;
}
.left_btn i{
    background-position: -142px -184px;
}
.right_btn i{
    background-position: -302px -184px;
}
/* 排行榜结束 */
.index_block_04{
    width: 1200px;
    overflow: hidden;
}
.gnTabs_block2{
    width: 6000px;
    /* display: flex; */
    overflow: hidden;
}
.brand_list{
    width: 1200px;
    /* height: 694px; */
    overflow: hidden;
    display: none;
    float: left;
}
.brand_list.lbox{
    display: block;
}
.brand_list li{
    float: left;
    margin-bottom: 12px;
}
.brand_list li:nth-of-type(odd){
    margin-right: 12px;
}
.brand_list li a{
    width: 594px;
    height: 260px;
    display: block;
    position: relative;
}
.brand_list li a .p_img2{
    position: absolute;
    top: 40px;
    left: 50px;
    opacity: 0;
    transition: .5s;
}
.brand_list li a:hover .p_img1{
    filter: blur(4px);
}
.brand_list li a:hover .p_img2{
    opacity: 1;
}
/* 品牌logo */
.brand_logos{
    width: 1230px;
    overflow: hidden;
}
.brand_logos a{
    width: 190px;
    height: 95px;
    float: left;
    position: relative;
    text-align: center;
    margin-right: 12px;
}
.brand_logos a:hover p{
    display: block;
}
.brand_logos a img{
    width: 190px;
    height: 95px;
}
.brand_logos a p{
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 95px;
    line-height: 95px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    background-color: #ccaa7a;
    display: none;
}
/* 品牌馆结束 */
.informa_left{
    position: relative;
    margin-right: 12px;
}
.informa_left .bg_img{
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .6;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,#000 100%);
}
.info_list{
    display: flex;
}
.info_list li{
    margin-right: 12px; 
}
.info_list li a{
    width: 190px;
    height: 280px;
    background: #fff;
    display: block;
}
.info_list li a:hover{
    box-shadow: 0 0 10px 2px #ccc;
}
.info_list li a .info_img{
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.info_list li a .p1{
    margin: 12px 20px 26px;
    color: #333;
    height: 36px;
    line-height: 18px;
}
.info_list li a .i_author{
    margin: 0 20px;
    height: 40px;
    display:flex;
    align-items: center;
    color: #999;
    border-top: 1px solid #eee;
}
.i_author .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: 80%;
    overflow: hidden;
}
.i_author .avatar img{
    display: block;
}
.i_author .a_name{
    margin-left: 4px;
}
.i_author .a_time{
   margin-left: 50px;
}
/* 腕表资讯结束 */
.index_block_06{
    width: 1200px;
    overflow: hidden;
}
.server_list{
    width: 1230px;
}
.server_list a{
    display:block;
    float: left;
    width: 291px;
    height: 240px;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
}
.server_list a img{
    transition: .5s;
}
.server_list a:hover img{
    transform: scale(1.1);

}
.server_list a .p_txt{
    width: 291px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 0;
    z-index: 30;
    margin-top: 10px;
    color: #000;
}
.server_list a .p1{
    font-size: 16px;
    font-weight: 700;
    color: #cc9952;
}
.server_list a .p_txt p:nth-of-type(2){
    color: #666;
}
/* 合作共享结束 */
.index_block_07{
    width: 1200px;
    overflow: hidden;
}
.share_work{
    width: 1230px;
}
.share_work a{
    display:block;
    float: left;
    width: 291px;
    height: 274px;
    background: #fff;
    overflow: hidden;
    margin-right: 12px;
    position: relative;
}
.share_work a img{
    transition: .5s;
}
.share_work a:hover img{
    transform: scale(1.1);

}
.share_work a .p_txt{
    width: 291px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 30;
    margin-top: 10px;
    color: #000;
    padding: 25px 10px 18px;
}
.share_work a .p_txt p{
    font-size: 14px;
    color: #666;
    text-align: left;
    height: 40px;
    line-height: 20px;
}
/* 实拍控结束 */
.index_block_08{
    width: 1200px;
    overflow: hidden;
}
.guess_lk_slider{
    width: 1230px;
}
.guess_lk_slider a{
    width: 291px;
    height: 333px;
    display: block;
    background: #fff;
    float: left;
    margin: 0 12px 12px 0;
    text-align: center;
}
.guess_lk_slider a:hover{
    box-shadow: 0 0 10px 2px #ccc;
}
.guess_lk_slider a .p1{
    color: #666;
    font-weight: 700;
    margin-bottom: 8px;
}
.guess_lk_slider a .p2{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 14px;
    color: #999;
    font-size: 12px;
}
.guess_lk_slider a .fenqi{
    margin-top: 12px;
}
.guess_lk_slider a .fenqi em{
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 2px;
    background: linear-gradient(270deg,#ff8080 0,#e65c5c 100%);
    border-radius: 2px;
    color: #fff;
}
.fenqi .fenqi_price{
    margin: 0 10px 0 2px;
    font-size: 16px;
    font-family: DIN-Bold;
    color: #e65c5c;
    font-weight: 700;
}
/* 返回顶部 */
.panel_bottom{
    position: fixed;
    bottom: 55px;
    right: 0;
    width: 44px;
    height: 220px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.1);;
    display: flex;
    flex-direction: column;
}
.panel_bottom a{
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
}
.panel_bottom a i{
    position: absolute;
    background-image: url(../images/a.png);
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
}
.panel_bottom a span{
    display: block;
    width: 76px;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 12px;
    background: #f1f1f1;
    text-align: right;
    padding-right: 6px;
    position: absolute;
    right: -84px;
    bottom: 0;
    z-index: 2;
    transition: .5s;
}
.panel_bottom a:hover span{
    right: 44px;
}
.w_cart i{
    background-position: -507px -382px;
    background-size: 589px;
}
.w_keep i{
    background-position: -507px -246px;
    background-size: 589px;
}
.w_footprints i{
    background-position: -469px -360px;
    background-size: 589px;
}
.w_download_app i{
    background-position: -373px -462px;
    background-size: 589px;
}
.w_download_app .w_tool_txt{
    width: 180px;
    background: #f1f1f1;
    padding: 18px 10px 15px 10px;
    position: absolute;
    right: 35px;
    bottom: -44px;
    height: auto;
    opacity: 0;
    transition: .5s;
}
.w_download_app .w_tool_txt p{
    color: #333;
    margin-top: 10px;
    line-height: 18px;
    text-align: center;
}
.w_download_app:hover .w_tool_txt{
    opacity: 1;
}
.w_to_top i{
    background-position: -507px -178px;
    background-size: 589px;
}

