<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../style/rest.css">
	<link rel="stylesheet" href="../style/header.css">
	<link href="../style/nav.css" type="text/css" rel="stylesheet">
	<link href="../style/logo.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- 头部 -->
	<div id="header">
		<div class="W_head">
		    <a href="//www.wbiao.cn/dynamic/21012982929/"><img src="../images/head.jpg" alt=""></a>
	    </div>
	</div>
	<!-- 导航部分 -->
	<div id="nav">
		<div class="nav_bax">
			<div class="to_int">
				<a href="">正品保障，免息分期！</a>
			</div>
			<ul>
				<li>
					<a href="../views/login.html" class="btn-login">请登录</a>
				</li>
				<li><a href="../views/register.html">注册即送3500元大礼包</a></li>
				<li><span>|</span><a href="" class="spc">购物车</a></li>
				<li class="serve"><a href="" class="mobile">客户服务</a>
					<div class="wb_down">
						<ul>
							<li><a href="">客户顾问</a></li>
							<li><a href="">售后维修</a></li>
							<li><a href="">帮助中心</a></li>
							<li><a href="">办理信用卡</a></li>
						</ul>
						<p>服务专线：400-883-2688</p>
						<p>外呼号码：020-83931899</p>
					</div>
				</li>
				<li><a href="">会员福利</a></li>
				<li><span>|</span><a href="">ENGLISH</a></li>
			</ul>
		</div>
	</div>
	<!-- navjs -->
	<script src="../script/nav.js"></script>
	<!-- header -->
	<script src="../script/header.js"></script>
</body>
</html>