<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>万表</title>
	<link rel="stylesheet" href="../style/rest.css">
	<link rel="stylesheet" href="../style/header.css">
	<link href="../style/index.css" type="text/css" rel="stylesheet">
	<link href="../style/nav.css" type="text/css" rel="stylesheet">
	<link href="../style/logo.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="../style/w_pt_nav.css">
	<link rel="stylesheet" href="../style/w_index_block.css">
	<link href="../style/banner.css" type="text/css" rel="stylesheet">
</head>
<body>
	
	<!--通用顶部导航-->
	<div id="head"></div>
	<!-- logo -->
	<div id="logo">
		<div class="logo_banx" id="box">
			<!-- logo -->
			<div class="logo_link">
				<a href="">
					<img src="../images/logo-icon.png" alt="">
				</a>
				<a href="">
					<img src="../images/slogan-02242018.png" alt="">
				</a>
			</div>
			<!-- 搜索栏 -->
			<div class="logo_s">
				<form action="">
					<i></i>
					<span>现货·最快次日达</span>
					<input type="text" class="logo_txt">
					<input type="submit" name="" id="" value="搜索">
				</form>
			</div>
			<!-- 二维码 -->
			<a href="" class="head_fr">
				<img src="../images/head_ads fr.png" alt="">
			</a>
	</div>
	</div>
	<!-- W_pt_nav -->
	<div id="W_pt_nav">
		<div class="pt_nav_warp">
			<div class="pt_nav_left">
				<a href="">全部商品</a>
				<i class="icon-a-all"></i>
				<div class="nav_left_menu">
					<ul class="list">
						<li><a href="">顶级品牌</a>/<a href="">百达翡丽</a><a href="">江诗丹顿</a></li>
						<li><a href="">奢华品牌</a>/<a href="">欧米茄</a>/<a href="">万国</a><a href="">拓天马</a></li>
						<li><a href="">高级品牌</a>/<a href="">浪琴</a>/<a href="">爱宝时</a><a href="">豪利时</a></li>
						<li><a href="">轻奢时尚</a>/<a href="">天梭</a>/<a href="">美度</a><a href="">赫柏林</a></li>
						<li><a href="">年轻潮牌</a>/<a href="">卡西欧</a>/<a href="">迪士尼</a><a href="">漫威</a></li>
						<li><a href="">智能手表</a>/<a href="">佳明</a>/<a href="">华为</a><a href="">颂拓</a></li>
						<li><a href="">表带</a>/<a href="">万表定制表带</a>/<a href="">积优</a></li>
						<li><a href="">维修保养</a>/<a href="">配件更换</a>/<a href="">手表保养</a></li>
					</ul>
					<div class="sub_menu">
							<div class="col_box">
								<div class="col_1">
									<span class="t">品牌</span>
									<div class="brand_list">
										<ul></ul>
									</div>
								</div>
								<div class="col_2">
									<span>热词</span>
									<div class="hot_words">
										<a href="">五十噚</a>
										<a href="">百达翡丽</a>
										<a href="">复杂功能计时</a>
										<a href="">陀飞轮</a>
										<a href="">Master大师</a>
										<a href="">限量款</a>
										
									</div>
								</div>
							</div>
							<a href="" class="brand_ads">
								<img src="../images/ban_1.jpg" alt="">
							</a>
					</div>
				</div>
			</div>
			<ul class="clearfix">
				<li><a href="">男表</a></li>
				<li><a href="">女表</a></li>
				<li class="circle1"><a href="">秒杀</a></li>
				<li><a href="">手表行情</a></li>
				<li><a href="">品牌馆</a></li>
				<li><a href="">体验中心</a></li>
				<li><a href="">名匠维修</a></li>
				<li><a href="">认证二手表</a></li>
				<li><a href="">二手竞拍</a></li>
				<li class="circle2"><a href="">高价回收</a></li>
				<li><a href="">手表资讯</a></li>
			</ul>
		</div>
	</div>
	<!-- banner部分 -->
	<div id="banner">
		<div class="banner_img">
			<div class="wrap">
				<div class="pic">
					<img src="../images/banner1.jpg" alt="" class="show">
					<img src="../images/banner2.jpg" alt="">
					<img src="../images/banner3.jpg" alt="">
					<img src="../images/banner4.jpg" alt="">
					<img src="../images/banner5.png" alt="">
					<img src="../images/banner6.jpg" alt="">
					<img src="../images/banner7.jpg" alt="">
				</div>
				<div class="ban_btn">
					<div class="perv"></div>
					<div class="next"></div>
					<ul></ul>
			    </div>
			</div>
		</div>
	</div>
	<!-- 主体部分 -->
	<div id="W_index_block">
		<div class="index_block_01">
			<a href=""><img src="../images/index_1.jpg" alt=""></a>
			<a href="">
				<div class="p_txt">
					<p>限时秒杀</p>
					<p>低至2.4折 限量抢 手慢无</p>
			    </div>
				<img src="../images/index_2.jpg" alt="">
				
			</a>
			<a href=""><img src="../images/index_3.jpg" alt=""></a>
			<a href="">
				<div class="p_txt">
					<p>商务休闲款</p>
					<p>白领、精英腕间配饰</p>
				</div>
				<img src="../images/index_4.jpg" alt="">
			</a>
		</div>
		<div class="index_block_02">
			<div class="index_hed">
					<h3>本月爆款</h3>
					<span class="on">臻选热销表<i class="bk"></i></span>
			</div>
			<div class="index_home">
				<div class="home_left">
					<a href="" class="left_ggt">
						<img src="../images/home.jpg" alt="">
						<div class="p_txt">
							<p class="p1">匠心出品 一眼倾心</p>
							<p class="p2">抢折扣神券直降5595</p>
						</div>
					</a>
				</div>
				<div class="home_rigth">
					<a href=""><img src="../images/home2.png" alt=""></a>
					<a href=""><img src="../images/home3.jpg" alt=""></a>
					<a href=""><img src="../images/home5.jpg" alt=""></a>
					<a href=""><img src="../images/home6.jpg" alt=""></a>
				</div>
			</div>
		</div>
		<div class="index_block_02">
				<div class="index_hed">
						<h3>二手精选</h3>
						<span class="on">二手精选<i class="bk"></i></span>
				</div>
				<div class="index_home">
					<div class="home_left">
						<a href="" class="left_ggt">
							<img src="../images/home_1.png" alt="">
							<div class="p_txt">
								<p class="p1">匠心出品 一眼倾心</p>
								<p class="p2">抢折扣神券直降5595</p>
							</div>
						</a>
					</div>
					<div class="home_rigth">
						<a href=""><img src="../images/home_1-1.png" alt=""></a>
						<a href=""><img src="../images/home_1-2.png" alt=""></a>
						<a href=""><img src="../images/home_1-3.png" alt=""></a>
						<a href=""><img src="../images/home_1-4.png" alt=""></a>
					</div>
				</div>
		</div>
		<div class="index_block_02">
				<div class="index_hed">
						<h3>时尚腕表</h3>
						<span class="on">终身售后<i class="bk"></i></span>
				</div>
				<div class="index_home">
					<div class="home_left">
						<a href="" class="left_ggt">
							<img src="../images/home_2.jpg" alt="">
							<div class="p_txt">
								<p class="p1">阿玛尼 品牌正式入驻万表网</p>
								<p class="p2">全场低至6.5折</p>
							</div>
						</a>
					</div>
					<div class="home_rigth">
						<a href=""><img src="../images/home_2-1.jpg" alt=""></a>
						<a href=""><img src="../images/home_2-2.jpg" alt=""></a>
						<a href=""><img src="../images/home_2-3.jpg" alt=""></a>
						<a href=""><img src="../images/home7.jpg" alt=""></a>
					</div>
				</div>
		</div>
		<div class="index_block_02">
				<div class="index_hed">
						<h3>运动腕表</h3>
						<span class="on">送摇表器<i class="bk"></i></span>
				</div>
				<div class="index_home">
					<div class="home_left">
						<a href="" class="left_ggt">
							<img src="../images/home_3.jpg" alt="">
							<div class="p_txt">
								<p class="p1">匠心出品 一眼倾心</p>
								<p class="p2">抢折扣神券直降5595</p>
							</div>
						</a>
					</div>
					<div class="home_rigth">
						<a href=""><img src="../images/home_3-1.jpg" alt=""></a>
						<a href=""><img src="../images/home_3-2.jpg" alt=""></a>
						<a href=""><img src="../images/home_3-3.jpg" alt=""></a>
						<a href=""><img src="../images/home_3-4.jpg" alt=""></a>
					</div>
				</div>
		</div>
		<div class="index_block_03">
			<div class="index_hed">
					<h3>排行榜</h3>
					<span class="on">男表<i class="bk"></i></span>
					<span>女表<i></i></span>
					<span>潮表<i></i></span>
					<a href="#">查看更多></a>
			</div>
			<div class="gnTabs_block">
				<div class="gnTabs_left fl">
					<a href="" class="left_ggt">
						<img src="../images/gnTabs_1.jpg" alt="">
						<div class="p_txt">
							<p class="p1">优雅态度 真我个性</p>
							<p class="p2">每满1000减120 上不封顶</p>
						</div>
					</a>
				</div>
				<div class="gnTabs_cen fl">
					<a href="">
						<img src="../images/gnTabs_1-1.jpg" alt="">
						<div class="cen_right">
							<img src="../images/epos.jpg" alt="">
							<p>爱宝时  Emotion情感系列</p>
							<span class="sp1">¥9600</span>
							<span class="sp2">销量943</span>
							<span class="sp3">立即查看</span>
						</div>
						<div class="phb_01">
								<i>NO.1</i>
						</div>
					 </a>
				</div>
				<div class="gnTabs_rigth fl">
					<a href="">
						<img src="../images/gnTabs_rigth-1.jpg" alt="">
						<div class="b_txt">
							<p>美度  贝伦赛丽BARONCELLI系列</p>
							<span class="sp1">¥7900</span>
							<span class="sp2">销量697</span>
						</div>
						<em class="phb_02">NO.2</em>
					</a>
					<a href="">
						<img src="../images/gnTabs_rigth-2.jpg" alt="">
						<div class="b_txt">
								<p>东方星  大师系列</p>
								<span class="sp1">¥5920</span>
								<span class="sp2">销量197</span>
						</div>
							<em class="phb_02">NO.3</em>
					</a>
					<a href="">
						<img src="../images/gnTabs_rigth-3.jpg" alt="">
						<div class="b_txt">
								<p>赫柏林  City 都市系列</p>
								<span class="sp1">¥6300</span>
								<span class="sp2">销量1687</span>
						</div>
							<em class="phb_02">NO.4</em>
					</a>
					<a href="">
						<img src="../images/gnTabs_rigth-4.jpg" alt="">
						<div class="b_txt">
								<p>库尔沃  Historiador 历史学家系列</p>
								<span class="sp1">¥40000</span>
								<span class="sp2">销量279</span>
						</div>
							<em class="phb_02">NO.5</em>
					</a>
				</div>
			</div>
			<div class="left_btn">
				<i></i>
			</div>
			<div class="right_btn">
				<i></i>
			</div>
		</div>
		<div class="index_block_04">
			<div class="index_hed">
				<h3>品牌馆</h3>
				<span class="on">高级<i class="bk"></i></span>
				<span>顶级<i></i></span>
				<span>奢华<i></i></span>
				<span>轻奢<i></i></span>
				<span>时尚<i></i></span>
				<a href="#">查看更多></a>
			</div>
			<ul class="brand_list">
				<li>
					<a href="">
						<p class="p_img1"><img src="../images/brand_list_1.jpg" alt=""></p>
						<p class="p_img2"><img src="../images/brand_list_1-1.jpg" alt=""></p>
					</a>
				</li>
				<li>
					<a href="">
						<p class="p_img1"><img src="../images/brand_list_2.jpg" alt=""></p>
						<p class="p_img2"><img src="../images/brand_list_2-2.jpg" alt=""></p>
					</a>
				</li>
				<li>
					<a href="">
						<p class="p_img1"><img src="../images/brand_list_3.jpg" alt=""></p>
						<p class="p_img2"><img src="../images/brand_list_3-3.jpg" alt=""></p>
					</a>
					</li>
				<li>
					<a href="">
						<p class="p_img1"><img src="../images/brand_list_4.jpg" alt=""></p>
						<p class="p_img2"><img src="../images/brand_list_4-4.png" alt=""></p>
					</a>
				</li>
			</ul>
			<div class="brand_logos">
				<a href="">
					<img src="../images/brand_logos_1.jpg" alt="">
					<p></p>
				</a>
				<a href="">
					<img src="../images/brand_logos_2.jpg" alt="">
					<p></p>
				</a>
				<a href="">
					<img src="../images/brand_logos_3.jpg" alt="">
					<p></p>
				</a>
				<a href="">
					<img src="../images/brand_logos_4.jpg" alt="">
					<p></p>
				</a>
				<a href="">
					<img src="../images/brand_logos_5.jpg" alt="">
					<p></p>
				</a>
				<a href="">
					<img src="../images/brand_logos_6.jpg" alt="">
					<p></p>
				</a>
			</div>
		</div>
	</div>
	<!-- jq -->
	<script src="../script/jquery-3.5.1/jquery-3.5.1.js"></script>
	<!-- 封装js -->
	<script src="../script/utils.js"></script>
	<!-- navjs -->
	<script src="../script/nav.js"></script>
	<!-- logo -->
	<script src="../script/logo.js"></script>
	<!-- 渐变轮播 -->
	<script src="../script/lunbo.js"></script>
	<!-- 商品菜单 -->
	<script src="../script/w_pt_nav.js"></script>
	<!-- 排行榜选项卡切换 -->
	<script src="../script/index_block.js"></script>
	<!-- 通用头部模块 -->
	<script type="text/javascript">
		$('#head').load('header.html');
	</script>
	<!-- <script src="../script/index.js"></script> -->
</body>

</html>