<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>万表</title>
	<link rel="stylesheet" href="../style/rest.css">
	<link rel="stylesheet" href="../style/header.css">
	<link href="../style/index.css" type="text/css" rel="stylesheet">
	<link href="../style/nav.css" type="text/css" rel="stylesheet">
	<link href="../style/logo.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="../style/w_pt_nav.css">
	<link href="../style/banner.css" type="text/css" rel="stylesheet">
	<link href="../style/centent.css" type="text/css" rel="stylesheet">
	<link href="../style/exhibition.css" type="text/css" rel="stylesheet">
	<link href="../style/section.css" type="text/css" rel="stylesheet">
</head>
<body>
	
	<!--通用顶部导航-->
	<div id="head"></div>
	<!-- logo -->
	<div id="logo">
		<div class="logo_banx" id="box">
			<!-- logo -->
			<div class="logo_link">
				<a href="">
					<img src="../images/logo-icon.png" alt="">
				</a>
				<a href="">
					<img src="../images/slogan-02242018.png" alt="">
				</a>
			</div>
			<!-- 搜索栏 -->
			<div class="logo_s">
				<form action="">
					<i></i>
					<span>现货·最快次日达</span>
					<input type="text" class="logo_txt">
					<input type="submit" name="" id="" value="搜索">
				</form>
			</div>
			<!-- 二维码 -->
			<a href="" class="head_fr">
				<img src="../images/head_ads fr.png" alt="">
			</a>
	</div>
	</div>
	<!-- W_pt_nav -->
	<div id="W_pt_nav">
		<div class="pt_nav_warp">
			<div class="pt_nav_left">
				<a href="">全部商品</a>
				<i class="icon-a-all"></i>
				<div class="nav_left_menu">
					<ul class="list">
						<li><a href="">顶级品牌</a>/<a href="">百达翡丽</a><a href="">江诗丹顿</a><div class="more"></div></li>
						<li><a href="">奢华品牌</a>/<a href="">欧米茄</a>/<a href="">万国</a><a href="">拓天马</a><div class="more"></div></li>
						<li><a href="">高级品牌</a>/<a href="">浪琴</a>/<a href="">爱宝时</a><a href="">豪利时</a><div class="more"></div></li>
						<li><a href="">轻奢时尚</a>/<a href="">天梭</a>/<a href="">美度</a><a href="">赫柏林</a><div class="more"></div></li>
						<li><a href="">年轻潮牌</a>/<a href="">卡西欧</a>/<a href="">迪士尼</a><a href="">漫威</a><div class="more"></div></li>
						<li><a href="">智能手表</a>/<a href="">佳明</a>/<a href="">华为</a><a href="">颂拓</a><div class="more"></div></li>
						<li><a href="">表带</a>/<a href="">万表定制表带</a>/<a href="">积优</a><div class="more"></div></li>
						<li><a href="">维修保养</a>/<a href="">配件更换</a>/<a href="">手表保养</a><div class="more"></div></li>
					</ul>
				</div>
			</div>
			<ul class="clearfix">
				<li><a href="">男表</a></li>
				<li><a href="">女表</a></li>
				<li class="circle1"><a href="">秒杀</a></li>
				<li><a href="">手表行情</a></li>
				<li><a href="">品牌馆</a></li>
				<li><a href="">体验中心</a></li>
				<li><a href="">名匠维修</a></li>
				<li><a href="">认证二手表</a></li>
				<li><a href="">二手竞拍</a></li>
				<li class="circle2"><a href="">高价回收</a></li>
				<li><a href="">手表资讯</a></li>
			</ul>
		</div>
	</div>
	<!-- banner部分 -->
	<div id="banner">
		<div class="banner_img">
			<div class="wrap">
				<div class="pic">
					<img src="../images/banner1.jpg" alt="" class="show">
					<img src="../images/banner2.jpg" alt="">
					<img src="../images/banner3.jpg" alt="">
					<img src="../images/banner4.jpg" alt="">
					<img src="../images/banner5.png" alt="">
					<img src="../images/banner6.jpg" alt="">
					<img src="../images/banner7.jpg" alt="">
				</div>
				<div class="perv">《</div>
				<div class="next">》</div>
				<ul></ul>
			</div>
		</div>
	</div>
    <!-- centent部分 -->
	<div id="centent">
			<div id="guding">
					<ul>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
						<li><i></i></li>
					</ul>
			</div>
	</div>
	<!-- 发现好货 -->
	<div id="exhibition">
		<a href=""><img src="../images/京东_64.jpg" alt=""></a>
		<div class="exhbox">
			<div class="map">
			    <ul class="con1">
					<li>
						<div>
							<p>湿滑落水器 镂空圆环</p>
							<img src="../images/京东_93.jpg" alt="">
						</div>
					</li>
					<li>
						<div>
							<img src="../images/京东_84.jpg" alt="">
							<p>湿滑落水器 镂空圆环</p>
						</div>
					</li>
					<li>
						<div>
							<p>湿滑落水器 镂空圆环</p>
							<img src="../images/京东_87.jpg" alt="">
						</div>
					</li>
					<li>
						<div>
							<img src="../images/京东_92.jpg" alt="">
							<p>湿滑落水器 镂空圆环</p>
						</div>
					</li>
					<li>
						<div>
							<p>湿滑落水器 镂空圆环</p>
							<img src="../images/京东_83.jpg" alt="">
						</div>
					</li>
				</ul>
				<ul class="con2"></ul>
			</div>
		</div>
	</div>
	<!-- 新品首发 -->
	<div id="exhibition2">
		<ul>
			<li class="pho">
				<h2>新品首发<img src="../images/京东_26.jpg" alt=""></h2>
				<div class="pr"><</div>
				<div class="nx">></div>
				<div class="phbox">
					<div class="phmain">
						<div class="phcon">
								<div class="phone">
									<img src="../images/phone1.webp" alt="">
									<p>荣耀30 50倍远摄 麒麟985 5G 4000万超广角AI四摄 3200W美颜自拍 全网通版6GB+128GB 钛空银 全面屏手机</p>
									<span>来这里发现更多新品</span>
									<p>￥2999.00起</p>
								</div>
								<div class="phone">
									<img src="../images/phon2.webp" alt="">
									<p>荣耀30 50倍远摄 麒麟985 5G 4000万超广角AI四摄 3200W美颜自拍 全网通版6GB+128GB 钛空银 全面屏手机</p>
									<span>来这里发现更多新品</span>
									<p>￥2999.00起</p>
								</div>
								<div class="phone">
									<img src="../images/phon3.webp" alt="">
									<p>荣耀30 50倍远摄 麒麟985 5G 4000万超广角AI四摄 3200W美颜自拍 全网通版6GB+128GB 钛空银 全面屏手机</p>
									<span>来这里发现更多新品</span>
									<p>￥2999.00起</p>
								</div>
								<div class="phone">
									<img src="../images/phon4.webp" alt="">
									<p>荣耀30 50倍远摄 麒麟985 5G 4000万超广角AI四摄 3200W美颜自拍 全网通版6GB+128GB 钛空银 全面屏手机</p>
									<span>来这里发现更多新品</span>
									<p>￥2999.00起</p>
								</div>
							</div>
						<div class="phcon2"></div>
					</div>
				</div>
			</li>
			<li class="Cont">
				<h2>排行榜<img src="../images/京东_26.jpg" alt=""></h2>
				<ul>
					<li class="clor"><a href="" class="bin">厨房小电</a></li>
					<li><a href="">影音娱乐</a></li>
					<li><a href="">厨房卫浴</a></li>
					<li><a href="">流行男鞋</a></li>
				</ul>
				<div class="Control">
				    <div>
						<img src="../images/jd_12.jpg" alt="">
						<p>欧普照明（OPPLE）安全速热 强劲双核 经典浴霸 卫生间浴室暖风机适用集成吊顶 JDSF113</p>
					</div>
					<div>
						<img src="../images/jd_12.jpg" alt="">
						<p>欧普照明（OPPLE）安全速热 强劲双核 经典浴霸 卫生间浴室暖风机适用集成吊顶 JDSF113</p>
					</div>	
					<div>
						<img src="../images/jd_12.jpg" alt="">
						<p>欧普照明（OPPLE）安全速热 强劲双核 经典浴霸 卫生间浴室暖风机适用集成吊顶 JDSF113</p>
					</div>
				</div>
				<div class="Control">
						<div>
							<img src="../images/jd_15.jpg" alt="">
							<p>格力（GREE）家用干衣机/烘干机/电暖器 双层衣柜婴儿衣物 容量10kg 功率1200w衣服烘干器(NFA-12A-WG)升级款</p>
						</div>
						<div>
							<img src="../images/jd_15.jpg" alt="">
							<p>格力（GREE）家用干衣机/烘干机/电暖器 双层衣柜婴儿衣物 容量10kg 功率1200w衣服烘干器(NFA-12A-WG)升级款</p>
						</div>	
						<div>
							<img src="../images/jd_15.jpg" alt="">
							<p>格力（GREE）家用干衣机/烘干机/电暖器 双层衣柜婴儿衣物 容量10kg 功率1200w衣服烘干器(NFA-12A-WG)升级款</p>
						</div>
				</div>
				<div class="Control">
						<div>
							<img src="../images/jd_20.jpg" alt="">
							<p>艾美特（Airmate）家用干衣机/烘干机/电暖器/暖风机 双层婴儿衣柜杀菌率99% 容量10KG 大功率1000W HGY905P</p>
						</div>
						<div>
							<img src="../images/jd_20.jpg" alt="">
							<p>艾美特（Airmate）家用干衣机/烘干机/电暖器/暖风机 双层婴儿衣柜杀菌率99% 容量10KG 大功率1000W HGY905P</p>
						</div>	
						<div>
							<img src="../images/jd_20.jpg" alt="">
							<p>艾美特（Airmate）家用干衣机/烘干机/电暖器/暖风机 双层婴儿衣柜杀菌率99% 容量10KG 大功率1000W HGY905P</p>
						</div>
				</div>
				<div class="Control">
						<div>
							<img src="../images/jd_12.jpg" alt="">
							<p>黑白调(Hbada) 电脑椅电竞椅办公椅子老板椅人体工学椅靠背家用可躺旋转 HDNY132-干练 白色（脚托）</p>
						</div>
						<div>
							<img src="../images/jd_15.jpg" alt="">
							<p>黑白调(Hbada) 电脑椅电竞椅办公椅子老板椅人体工学椅靠背家用可躺旋转 HDNY132-干练 白色（脚托）</p>
						</div>	
						<div>
							<img src="../images/jd_20.jpg" alt="">
							<p>黑白调(Hbada) 电脑椅电竞椅办公椅子老板椅人体工学椅靠背家用可躺旋转 HDNY132-干练 白色（脚托）</p>
						</div>
				</div>
			</li>
			<li>
				<h2>逛好店<img src="../images/京东_26.jpg" alt=""></h2>
				<div class="lban">
					<div>
						<p>老板电器京东自营旗舰店</p>
						<span>自营</span><span>家电集结</span>
						<i>382.3万人关注</i>
					</div>
					<img src="../images/jd_09.jpg" alt="">
				</div>
				<div class="beimain">
					<div>
						<p>老板电器京东自营旗舰店</p>
						<span>随心所动</span>
						<i>382.3万人关注</i>
					</div>
					<img src="../images/jd_18.jpg" alt="">
				</div>
			</li>
			<li>
				<h2>领券中心<img src="../images/京东_26.jpg" alt=""></h2>
				<img src="../images/jd_03.jpg" alt="">
			</li>
		</ul>
	</div>
	<!-- 频道广场 -->
	<div id="section">
				<h3 class="pindao">频道广场</h3>
				<table border="" cellspacing="10" cellpadding="">
					<tr>
						<td rowspan="2" class="td_1">
							<h3>京东图书</h3>
							<span> 一站式企业采购平台</span>
							<img src="../images/jd_151.jpg">
						</td>
						<td rowspan="2" class="td_2">
							<h3>拍拍二手</h3>
							<span> 一站式企业采购平台</span>
							<img src="../images/jd_181.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_061.jpg">
							<img src="../images/jd_091.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_031.jpg">
							<img src="../images/jd_121.jpg">
						</td>
					</tr>
					<tr>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_28.jpg">
							<img src="../images/jd_30.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_32.jpg">
							<img src="../images/jd_25.jpg">
						</td>
					</tr>
					<tr>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_41.jpg">
							<img src="../images/jd_55.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_43.jpg">
							<img src="../images/jd_46.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_52.jpg">
							<img src="../images/jd_57.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_60.jpg">
							<img src="../images/jd_49.jpg">
						</td>
					</tr>
					<tr>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_71.jpg">
							<img src="../images/jd_78.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_88.jpg">
							<img src="../images/jd_82.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_101.jpg">
							<img src="../images/jd_85.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_74.jpg">
							<img src="../images/jd_76.jpg">
						</td>
					</tr>
					<tr>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_116.jpg">
							<img src="../images/jd_98.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_113.jpg">
							<img src="../images/jd_101.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_118.jpg">
							<img src="../images/jd_107.jpg">
						</td>
						<td>
							<h3>企业购<span> 一站式企业采购平台</span></h3>
							<img src="../images/jd_107.jpg">
							<img src="../images/jd_110.jpg">
						</td>
					</tr>
				</table>
	</div>
	<!-- 为你推荐 -->
	<div id="section2">
				<h3 class="pindao">为你推荐</h3>
				<ul>
					<li><a href="">
							<h4 class="stly">精选</h4>
							<p class="tiy">猜你喜欢</p>
						</a></li>
					<li><a href="">
							<h4>智能先锋</h4>
							<p>大电器城</p>
						</a></li>
					<li><a href="">
							<h4>居家优品</h4>
							<p>品质生活</p>
						</a></li>
					<li><a href="">
							<h4>超市百货</h4>
							<p>百货生鲜</p>
						</a></li>
					<li><a href="">
							<h4>时尚达人</h4>
							<p>美妆穿搭</p>
						</a></li>
					<li><a href="">
							<h4>进口好物</h4>
							<p>京东国际</p>
						</a></li>
				</ul>
				<table border="" cellspacing="10" cellpadding="" class="recom">
					<tr>
						<td>
							<img src="https://img14.360buyimg.com/babel/s150x150_jfs/t1/125350/24/19126/103161/5fb3a333Ef9e3cffe/fec748dd4d9fe008.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.00</span>
						</td>
						<td>
							<img src="https://img13.360buyimg.com/babel/s150x150_jfs/t1/120310/34/5442/131858/5eef689fE427193d3/e2918441793931a7.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>9</i>.90</span>
						</td>
						<td>
							<img src="https://img30.360buyimg.com/babel/s150x150_jfs/t1/123734/9/15477/67740/5f8b0057E20c9325a/1573ad521cba1ac6.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img10.360buyimg.com/babel/s150x150_jfs/t1/130896/33/4286/67345/5f0acc0dE3a25393e/9f533050e898b78e.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img14.360buyimg.com/babel/s150x150_jfs/t25582/40/797827523/74208/4f357f10/5b7a7b45Nb70674d8.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="https://img30.360buyimg.com/babel/s150x150_jfs/t1/102286/23/17009/38161/5e81fcc3E50dd6c21/b0bf10c33b39b24f.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img10.360buyimg.com/babel/s150x150_jfs/t1/152983/3/1030/103748/5f71ff96Edbe795d7/477d87dc6b438ebe.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img13.360buyimg.com/babel/s150x150_jfs/t1/77436/11/5393/252319/5d39451eE09abf4d8/3980799fa4a8b380.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img11.360buyimg.com/babel/s150x150_jfs/t1/111213/35/2159/191393/5e9fa9ebE129e2b1f/6c597a8be0cb7045.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img10.360buyimg.com/babel/s150x150_jfs/t1/140386/32/7661/58051/5f51f938Eb809c667/e514b201cbe504c9.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="https://img11.360buyimg.com/babel/s150x150_jfs/t1/78602/12/15653/132698/5dd09745E062cf019/bbc41652d5474e70.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img20.360buyimg.com/babel/s150x150_jfs/t1/125709/8/2654/253234/5ec79e54E3dae8a9e/cab6d1ca2f06201f.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img20.360buyimg.com/babel/s150x150_jfs/t1/50176/29/16909/70504/5de09411E5aa11761/ef0f9d38239b0822.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img10.360buyimg.com/babel/s150x150_jfs/t1/119829/21/5148/16994/5ebb7a77Ea080aa0f/388b764014e2ea16.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
						<td>
							<img src="https://img12.360buyimg.com/babel/s150x150_jfs/t1/129914/26/18262/82320/5fc755c4Eab755a8a/ef32329f3142e205.jpg.webp"
								alt="">
							<p>中国电信 电信流量卡4g手机号码卡腾讯5g大王卡电话卡日租卡不限速无限纯流量卡不限量上网卡 （民营卡）39元/月100G通用流量不限速</p>
							<span>￥<i>99</i>.90</span>
						</td>
					</tr>
				</table>
	</div>
	<!-- 多快好省 -->
	<ul id="mod">
			<li>
				<img src="../images/images/jd_03.jpg" alt="">
				<h3>品类齐全，轻松购物</h3>
			</li>
			<li>
				<img src="../images/images/jd_05.jpg" alt="">
				<h3>多仓直发，极速配送</h3>
			</li>
			<li>
				<img src="../images/images/jd_07.jpg" alt="">
				<h3>正品行货，精致服务</h3>
			</li>
			<li>
				<img src="../images/images/jd_09.jpg" alt="">
				<h3>天天低价，畅选无忧</h3>
			</li>
	</ul>
	<!-- footer底部 -->
	<div id="footer">
		<div class="footer_banx">
			<ul>
				<li><a href="">
						<h5>购物指南</h5>
					</a></li>
				<li><a href="">购物流程</a></li>
				<li><a href="">会员介绍</a></li>
				<li><a href="">生活旅行</a></li>
				<li><a href="">常见问题</a></li>
				<li><a href="">大家电</a></li>
				<li><a href="">联系客服</a></li>
			</ul>
			<ul>
				<li><a href="">
						<h5>配送方式</h5>
					</a></li>
				<li><a href="">上门自提</a></li>
				<li><a href="">211限时达</a></li>
				<li><a href="">配送服务查询</a></li>
				<li><a href="">配送费收取标准</a></li>
				<li><a href="">海外配送</a></li>
			</ul>
			<ul>
				<li><a href="">
						<h5>支付方式</h5>
					</a></li>
				<li><a href="">货到付款</a></li>
				<li><a href="">在线支付</a></li>
				<li><a href="">分期付款</a></li>
				<li><a href="">公司转账</a></li>
			</ul>
			<ul>
				<li><a href="">
						<h5>售后服务</h5>
					</a></li>
				<li><a href="">售后政策</a></li>
				<li><a href="">价格保护</a></li>
				<li><a href="">退款说明</a></li>
				<li><a href="">返修/退换货</a></li>
				<li><a href="">取消订单</a></li>
			</ul>
			<ul>
				<li><a href="">
						<h5>特色服务</h5>
					</a></li>
				<li><a href="">夺宝岛</a></li>
				<li><a href="">DIY装机</a></li>
				<li><a href="">延保服务</a></li>
				<li><a href="">京东E卡</a></li>
				<li><a href="">京东通信</a></li>
				<li><a href="">京鱼座智能</a></li>
			</ul>
			<div class="mod_help">
				<h5>京东自营覆盖区县</h5>
				<p>京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
				<a href="">查看详情 > </a>
			</div>
		</div>
	</div>
	<!-- 版权 -->
	<div id="copy">
		<ul>
			<li><a href="">关于我们</a><span>|</span></li>
			<li><a href="">联系我们</a><span>|</span></li>
			<li><a href="">联系客服</a><span>|</span></li>
			<li><a href="">合作招商</a><span>|</span></li>
			<li><a href="">商家帮助</a><span>|</span></li>
			<li><a href="">营销中心</a><span>|</span></li>
			<li><a href="">手机京东</a><span>|</span></li>
			<li><a href="">友情链接</a><span>|</span></li>
			<li><a href="">销售联盟</a><span>|</span></li>
			<li><a href="">京东社区</a><span>|</span></li>
			<li><a href="">风险监测</a><span>|</span></li>
			<li><a href="">隐私政策</a><span>|</span></li>
			<li><a href="">京东公益</a><span>|</span></li>
			<li><a href="">English Site</a><span>|</span></li>
			<li><a href="">Media & IR</a></li>
		</ul>
		<div class="copy_info">
			<p>京公网安备 11000002000088号 | 京ICP证070359号 | 互联网药品信息服务资格证编号(京)-经营性-2014-0008 |
				新出发京零 字第大120007号
			</p>
			<p>互联网出版许可证编号新出网证(京)字150号 | 出版物经营许可证 | 网络文化经营许可证京网文[2014]2148-348号 |
				违法和不良信息举报电话：4006561155
			</p>
			<p> Copyright © 2004 - | 消费者维权热线：4006067733 | 经营证照 | (京)网械平台备字(2018)第00003号 |
				营业执照
			</p>
			<!-- <p><img src="images/images/jd_16.jpg" alt="">Global Site |<img src="images/images/jd_19.jpg" alt=""> Сайт
				России |<img src="images/images/jd_21.jpg" alt=""> Situs Indonesia |<img src="images/images/jd_23.jpg"
					alt=""> Sitio de España |<img src="images/images/jd_25.jpg" alt=""> เว็บไซต์ประเทศไทย</p> -->
			<p>京东旗下网站：京东钱包 | 京东智联云</p>
		</div>
		<div class="copy_a">
			<a href="">
				<img src="../images/images/jd_33.jpg" alt="">
				<p>可信网站信用评估</p>
			</a>
			<a href="">
				<img src="../images/images/jd_33.jpg" alt="">
				<p>网络警察提醒你</p>
			</a>
			<a href="">
				<img src="../images/images/jd_36.jpg" alt="">
				<p>诚信网站</p>
			</a>
			<a href="">
				<img src="../images/images/jd_38.jpg" alt="">
				<p>中国互联网举报中心</p>
			</a>
			<a href="">
				<img src="../images/images/jd_41.jpg" alt="">
				<p>网络举报APP下载</p>
			</a>
			<a href="">
				<img src="../images/images/jd_44.jpg" alt="">
				<p>扫黄打非网举报专区</p>
			</a>
		</div>
	</div>
	<!-- 返回顶部 -->
	<div id="guding">
		<ul>
			<li><a href="">京东秒杀</a></li>
			<li><a href="">特殊优选</a></li>
			<li><a href="">频道广场</a></li>
			<li><a href="">为你推荐</a></li>
			<li><a href="">客服</a></li>
			<li><a href="">反馈</a></li>
			<li><a href="">顶部</a></li>
		</ul>
	</div>
	<!-- 封装js -->
	<script src="../script/utils.js"></script>
	<!-- navjs -->
	<script src="../script/nav.js"></script>
	<!-- logo -->
	<script src="../script/logo.js"></script>

	<!-- <script src="../script/list.js"></script> -->
	<!-- search-fix -->
	<!-- <script src="../script/search-fix.js"></script> -->
	<!-- 渐变轮播 -->
	<script src="../script/lunbo.js"></script>
	<!-- 倒计时 -->
	<!-- <script src="../script/countDown.js"></script> -->
	<!-- 滚动轮播 -->
	<!-- <script src="../script/scroll-lunbo.js"></script> -->
	<!-- 滚动轮播2 -->
	<!-- <script src="../script/lunb03.js"></script> -->
	<!-- 每日特价 -->
	<!-- <script src="../script/box_con.js"></script> -->
	<!-- 发现好货 -->
	<!-- <script src="../script/rolling.js"></script> -->
	<!-- 新品首发 -->
	<!-- <script src="../script/phone.js"></script> -->
	<!-- 排行榜 -->
	<!-- <script src="../script/Cont.js"></script> -->
	<!-- 为你推荐 -->
	<!-- <script src="../script/section2.js"></script> -->
	<!-- jq -->
	<script src="../script/jquery-3.5.1/jquery-3.5.1.js"></script>
	<!-- 通用头部模块 -->
	<script type="text/javascript">
		$('#head').load('header.html');
		console.log($('#head'));
	</script>
	<!-- <script src="../script/index.js"></script> -->
</body>

</html>