<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <link rel="stylesheet" href="../style/Product _Details.css">
    <link rel="stylesheet" href="../style/pt-shop_nav.css">
    <link rel="stylesheet" href="../style/W_main2.css">
</head>
<body>
    <!--通用顶部导航-->
	<div id="head"></div>
    <!-- logo -->
	<div id="logo">
			<div class="logo_banx" id="box">
				<!-- logo -->
				<div class="logo_link">
					<a href="../views/index.html">
						<img src="../images/logo-icon.png" alt="">
					</a>
					<a href="">
						<div class="sp_txt">
                            <p>瑞士爱宝时官方旗舰店<i>自营</i></p>
                            <p>销量70018  粉丝15761</p>
                        </div>
					</a>
				</div>
				<!-- 搜索栏 -->
				<div class="logo_s">
					<form action="" class="for2">
						<span>搜索 品牌/系列/型号</span>
						<input type="text" class="logo_txt">
                        <input type="submit" name="" id="" value="搜万表">
                        <button>搜本店</button>
					</form>
				</div>
		</div>
    </div>
    <a href="">
        <div class="pt-shop_sign"></div>
    </a>
    <!-- pt-shop_nav -->
    <div id="pt-shop_nav">
        <ul>
            <li><a href="" class="on">首页</a></li>
            <li><a href="">商品</a></li>
            <li><a href="">男士腕表</a></li>
            <li><a href="">女士腕表</a></li>
            <li><a href="">店长推选</a></li>
            <li><a href="">情侣对表</a></li>
            <li><a href="">新品上市</a></li>
            <li><a href="">预售</a></li>
            <li><a href="">怀表专区</a></li>
            <div class="consult">
                <span class="icon-d-kefu fl"></span>
                <span class="fl">联系商家</span>
            </div>
        </ul>
    </div>
    <!-- 商品路径 -->
    <div class="W_detail_Bread">
        <div class="Bread_content">
            <div class="Bread_left fl">
                    <a href="">首页</a>
                    <a href="">></a>
                    <a href="">爱宝时</a>
                    <a href="">></a>
                    <a href="">瑞士 爱宝时（EPOS）-Emotion情感系列 日夜无间 3390.302.20.38.25 机械男表</a>
                </div>
                <div class="Bread_right fr">
                    <span>自营</span>
                    <span><a>瑞士爱宝时官方旗舰店</a></span>
                    <span>+</span>
                    <span>关注</span>
                </div>
        </div>
    </div>
    <!-- 商品详情 -->
    <div id="W_main2">
        <div class="W_detail">  
              
        </div>
        <div class="detailsAd">
            <img src="../images/detailsAd.jpg" alt="">
        </div>
    </div>
    <div>
    </div>
    <!--通用底部-->
    <div id="footer"></div>
     <!-- jq -->
    <script src="../script/jquery-3.5.1/jquery-3.5.1.js"></script>
    <!-- 封装js -->
	<script src="../script/utils.js"></script>
    <!-- logo -->
    <script src="../script/logo.js"></script>
    <!-- pt-shop_nav -->
    <script src="../script/pt-shop_nav.js"></script>
    <!-- 放大镜 -->
    <script src="../script/W_main2.js"></script>
    <!-- 通用头部模块 -->
	<script type="text/javascript">
		$('#head').load('header.html');
	</script>
	<!-- 通用底部模块 -->
	<script type="text/javascript">
		$('#footer').load('footer.html');
	</script>
</body>
</html>