<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <link rel="stylesheet" href="../style/rest.css">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/Product _Details.css">
	<link href="../style/index.css" type="text/css" rel="stylesheet">
    <link href="../style/nav.css" type="text/css" rel="stylesheet">
    <link href="../style/logo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../style/pt-shop_nav.css">
    <link rel="stylesheet" href="../style/W_main2.css">
</head>
<body>
     <!-- 头部 -->
	<div id="header">
            <div class="W_head">
                <a href="//www.wbiao.cn/dynamic/21012982929/"><img src="../images/head.jpg" alt=""></a>
            </div>
        </div>
    <!-- 导航部分 -->
    <div id="nav">
        <div class="nav_bax">
            <div class="to_int">
                <a href="">正品保障，免息分期！</a>
            </div>
            <ul>
                <li><a href="">请登录</a></li>
                <li><a href="">注册即送3500元大礼包</a></li>
                <li><span>|</span><a href="">购物车</a></li>
                <li class="serve"><a href="">客户服务</a>
                    <div class="wb_down">
                        <ul>
                            <li><a href="">客户顾问</a></li>
                            <li><a href="">售后维修</a></li>
                            <li><a href="">帮助中心</a></li>
                            <li><a href="">办理信用卡</a></li>
                        </ul>
                        <p>服务专线：400-883-2688</p>
                        <p>外呼号码：020-83931899</p>
                    </div>
                </li>
                <li><a href="">会员福利</a></li>
                <li><span>|</span><a href="">ENGLISH</a></li>
            </ul>
        </div>
    </div>
    <!-- logo -->
	<div id="logo">
			<div class="logo_banx" id="box">
				<!-- logo -->
				<div class="logo_link">
					<a href="">
						<img src="../images/logo-icon.png" alt="">
					</a>
					<a href="">
						<div class="sp_txt">
                            <p>瑞士爱宝时官方旗舰店<i>自营</i></p>
                            <p>销量70018  粉丝15761</p>
                        </div>
					</a>
				</div>
				<!-- 搜索栏 -->
				<div class="logo_s">
					<form action="" class="for2">
						<span>搜索 品牌/系列/型号</span>
						<input type="text" class="logo_txt">
                        <input type="submit" name="" id="" value="搜万表">
                        <button>搜本店</button>
					</form>
				</div>
		</div>
    </div>
    <a href="">
        <div class="pt-shop_sign"></div>
    </a>
    <!-- pt-shop_nav -->
    <div id="pt-shop_nav">
        <ul>
            <li><a href="" class="on">首页</a></li>
            <li><a href="">商品</a></li>
            <li><a href="">男士腕表</a></li>
            <li><a href="">女士腕表</a></li>
            <li><a href="">店长推选</a></li>
            <li><a href="">情侣对表</a></li>
            <li><a href="">新品上市</a></li>
            <li><a href="">预售</a></li>
            <li><a href="">怀表专区</a></li>
            <div class="consult">
                <span class="icon-d-kefu fl"></span>
                <span class="fl">联系商家</span>
            </div>
        </ul>
    </div>
    <!-- 商品路径 -->
    <div class="W_detail_Bread">
        <div class="Bread_content">
            <div class="Bread_left fl">
                    <a href="">首页</a>
                    <a href="">></a>
                    <a href="">爱宝时</a>
                    <a href="">></a>
                    <a href="">瑞士 爱宝时（EPOS）-Emotion情感系列 日夜无间 3390.302.20.38.25 机械男表</a>
                </div>
                <div class="Bread_right fr">
                    <span>自营</span>
                    <span><a>瑞士爱宝时官方旗舰店</a></span>
                    <span>+</span>
                    <span>关注</span>
                </div>
        </div>
    </div>
    <!-- 商品详情 -->
    <div id="W_main2">
        <div class="W_detail">
            <div class="upper_left fl">
                <div class="left">
                    <img src="../images/min1.jpg" alt="">
                    <div class="mask"></div>
                </div>
                <div class="maxBox">
                    <img src="../images/max1.jpg" alt="">
                </div>
                <div class="minlist">
                    <ul class="list">
                            <li><img src="../images/min1.jpg" alt=""></li>
                            <li><img src="../images/min2.jpg" alt=""></li>
                            <li><img src="../images/min3.jpg" alt=""></li>
                            <li><img src="../images/min4.jpg" alt=""></li>
                            <li><img src="../images/min5.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="upper_right fl">
                <!-- 商品名称 -->
                <div class="upper_title">瑞士 爱宝时（EPOS）-Emotion情感系列 日夜无间 3390.302.20.38.25 机械男表</div>
                <div class="upper_xuyan">畅销爆款 王阳明同款 把握时机 才是赢家 独特24小时制昼夜显示<span>咨询优惠>></span></div>
                <div class="upper_model">
                    <span>型号: 3390.302.20.38.25</span>
                    <span>编号: 42500</span>
                    <span>品牌: 爱宝时</span>
                    <span>销量: 2953</span>
                </div>
                <!-- 价格 -->
                <div class="upper_price">
                    <p class="p1">
                        <b>分期</b>
                        <em>￥</em>
                        <i>983.33</i>x12期
                        <span><i></i> 免息免手续费</span>
                    </p>
                    <p class="p2"><b>市场价</b><span>￥11,800</span></p>
                    <p class="p3"><b>领劵</b><span>   ¥1785  单品现金券</span><a>更多</a></p>
                    <p class="p4"><b>促销</b><span>［满减］每满300减85元</span></p>
                </div>
                <!-- 配送 -->
                <div class="upper_give">
                    <span>配送</span>
                    <p><i>（顺丰包邮）</i>  17:30前支付，预计1-3个工作日内发货，支持货到付款 </p>
                </div>
                <!-- 承诺 -->
                <div class="promise">
                    <span>承诺</span>
                    <ul>
                        <li><i></i>正品保障</li>
                        <li><i></i>正规发票</li>
                        <li><i></i>假一赔三</li>
                        <li><i></i>7天退换</li>
                        <li><i></i>全球联保</li>
                        <li><i></i>实体店体验</li>
                        <li><i></i>闪电发货</li>
                        <li><i></i>货到付款</li>
                    </ul>
                </div>
                <!-- 服务 -->
                <div class="service">
                    <span>服务</span>
                    <a href=""><span>万表名匠提供全国联保</span><i></i></a>
                    <a href=""><span>100%正品二手表库</span><i></i></a>
                </div>
                <!-- 款式 -->
                <div class="upper_style">
                    <span>款式</span>
                    <div>
                        <a href=""><img src="../images/upper_style-1.jpg" alt=""><span>真皮 灰色 牛皮</span></a>
                        <a href=""><img src="../images/upper_style-2.jpg" alt=""><span>真皮 黑色 白色 牛皮</span></a>
                        <a href=""><img src="../images/upper_style-3.jpg" alt=""><span>钢 黑色 白色 图案 精钢</span></a>
                        <a href=""><img src="../images/upper_style-4.jpg" alt=""><span>钢 黄金 黑色 白色 图案 精钢</span></a>
                    </div>
                </div>
                <!-- 数量 -->
                <div class="upper_number">
                    <span>数量</span>
                    <div class="number_right">
                        <span class="fl reduce">-</span>
                        <input type="text" value="1">
                        <span class="fl plus">+</span>
                    </div>
                </div>
                <!-- 立即购买 -->
                <div class="upper_button">
                    <div class="button_a">立即购买</div>
                    <div id="js_cart" class="button_b">加入购物车</div>
                    <div class="qr-code fl">
                        <p class="icon"><img src="../images/detail_qrcode.png"></p>
                        <p class="text">点击领优惠</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detailsAd">
            <img src="../images/detailsAd.jpg" alt="">
        </div>
    </div>
    <div>
    </div>
    <!--通用底部-->
    <div id="footer"></div>
     <!-- jq -->
	<script src="../script/jquery-3.5.1/jquery-3.5.1.js"></script>
	<!-- 封装js -->
    <script src="../script/utils.js"></script>
    <!-- logo -->
    <script src="../script/logo.js"></script>
    <!-- pt-shop_nav -->
    <script src="../script/pt-shop_nav.js"></script>
    <!-- 放大镜 -->
    <script src="../script/W_main2.js"></script>
	<!-- 通用底部模块 -->
	<script type="text/javascript">
		$('#footer').load('footer.html');
	</script>
</body>
</html>