<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品列表页</title>
	<link rel="stylesheet" href="../style/w_pt_nav.css">
	<link rel="stylesheet" href="../style/w_main.css">
</head>
<body>
    <!--通用顶部导航-->
	<div id="head"></div>
	<!-- logo -->
	<div id="logo">
			<div class="logo_banx" id="box">
				<!-- logo -->
				<div class="logo_link">
					<a href="../views/index.html">
						<img src="../images/logo-icon.png" alt="">
					</a>
					<a href="">
						<img src="../images/slogan-02242018.png" alt="">
					</a>
				</div>
				<!-- 搜索栏 -->
				<div class="logo_s">
					<form action="">
						<i></i>
						<span>现货·最快次日达</span>
						<input type="text" class="logo_txt">
						<input type="submit" name="" id="" value="搜索">
					</form>
				</div>
				<!-- 二维码 -->
				<a href="" class="head_fr">
					<img src="../images/head_ads fr.png" alt="">
				</a>
			</div>
	</div>
	<!-- W_pt_nav -->
	<div id="W_pt_nav">
		<div class="pt_nav_warp">
			<div class="pt_nav_left">
				<a href="">全部商品</a>
				<i class="icon-a-all allx"></i>
				<div class="nav_left_menu lt">
					<ul class="list">
						<li>
							<a href="">顶级品牌</a>/<a href="">百达翡丽</a><a href="">江诗丹顿</a>
							<div class="sub_menu">
								<div class="col_box">
									<div class="col_1">
										<span class="t">品牌</span>
										<div class="menu_list">
											<ul></ul>
										</div>
									</div>
									<div class="col_2">
										<span>热词</span>
										<div class="hot_words">
											<a href="">五十噚</a>
											<a href="">百达翡丽</a>
											<a href="">复杂功能计时</a>
											<a href="">陀飞轮</a>
											<a href="">Master大师</a>
											<a href="">限量款</a>
											
										</div>
									</div>
								</div>
								<a href="" class="brand_ads">
									<img src="../images/ban_1.jpg" alt="">
								</a>
						</div>
					    </li>
						<li><a href="">奢华品牌</a>/<a href="">欧米茄</a>/<a href="">万国</a><a href="">拓天马</a></li>
						<li><a href="">高级品牌</a>/<a href="">浪琴</a>/<a href="">爱宝时</a><a href="">豪利时</a></li>
						<li><a href="">轻奢时尚</a>/<a href="">天梭</a>/<a href="">美度</a><a href="">赫柏林</a></li>
						<li><a href="">年轻潮牌</a>/<a href="">卡西欧</a>/<a href="">迪士尼</a><a href="">漫威</a></li>
						<li><a href="">智能手表</a>/<a href="">佳明</a>/<a href="">华为</a><a href="">颂拓</a></li>
						<li><a href="">表带</a>/<a href="">万表定制表带</a>/<a href="">积优</a></li>
						<li><a href="">维修保养</a>/<a href="">配件更换</a>/<a href="">手表保养</a></li>
					</ul>
					
				</div>
			</div>
			<ul class="clearfix">
				<li><a href="">男表</a></li>
				<li><a href="">女表</a></li>
				<li class="circle1"><a href="">秒杀</a></li>
				<li><a href="">手表行情</a></li>
				<li><a href="">品牌馆</a></li>
				<li><a href="">体验中心</a></li>
				<li><a href="">名匠维修</a></li>
				<li><a href="">认证二手表</a></li>
				<li><a href="">二手竞拍</a></li>
				<li class="circle2"><a href="">高价回收</a></li>
				<li><a href="">手表资讯</a></li>
			</ul>
		</div>
	</div>
	<!-- 商品列表 -->
	<div id="W_main">
		<div class="W_bread">
			<div class="bread_inner">
				<div class="bread_left fl">
					<a href="">首页</a>
					<a href="">商品中心</a>
				</div>
				<div class="hot_keyword fr">
					<span class="fl">热门搜索：</span>
					<a href="">现货·最快次日达</a>
					<a href="">日夜无间</a>
					<a href="">劳力士</a>
					<a href="">东方星</a>
				</div>
			</div>
		</div>
		<div class="W_list_wrap">
				<!-- 左边导航 -->
				<div class="list_left_area fl">
					<!-- 轮播图 -->
					<div class="list_act">
						<div class="main">
							<div class="con1">
									<img src="../images/list_act-1.jpg" alt="">
									<img src="../images/list_act-2.jpg" alt="">
									<img src="../images/list_act-3.jpg" alt="">
							</div>
						</div>
						<div class="pager">
								<i></i>
								<i></i>
								<i></i>
						</div>
					</div>
					<!-- 选项卡切换 -->
					<div class="friend_comment">
						<ul>
							<li class="tab_in">表友晒单</li>
							<li>表友评论</li>
						</ul>
						<div class="moudle_con show">
							<a href="">
								<img src="../images/moudle_con-1.jpg" alt="">
								<p>没使用，赠品有就好！</p>
							</a>
							<a href="">
								<img src="../images/moudle_con-2.jpg" alt="">
								<p>带了段时间，走时准确！上手效果不错！</p>
							</a>
						</div>
						<div class="moudle_con">
							<a href="">
								<img src="../images/moudle_con-3.jpg" alt="">
								<p>w****4：手表很好，物美价廉，家人很喜欢</p>
							</a>
							<a href="">
								<img src="../images/moudle_con-4.jpg" alt="">
								<p>w****8：挺好，很重，包装也很精美。</p>
							</a>
						</div>
					</div>
					<!-- 选项卡切换 结束-->
				</div>
				<!-- 右边商品列表 -->
				<div class="list_right_area fr">
					<!-- 商品分类 -->
					<div class="sh_sis">
						<ul>
							<li>
								<img src="../images/share-1.jpg" alt="">
								<p class="elps1">复杂功能计时腕表</p>
							</li>
							<li>
								<img src="../images/share-2.jpg" alt="">
								<p>古典表</p>
							</li>
							<li>
								<img src="../images/share-3.jpg" alt="">
								<p>运动优雅</p>
							</li>
							<li>
								<img src="../images/share-4.jpg" alt="">
								<p>其它</p>
							</li>
							<li>
								<img src="../images/share-5.jpg" alt="">
								<p>Aquanaut</p>
							</li>
							<li>
								<img src="../images/share-6.jpg" alt="">
								<p>Twenty</p>
							</li>
							<li>
								<img src="../images/share-7.jpg" alt="">
								<p>Nautilus</p>
							</li>
							<li>
								<img src="../images/share-8.png" alt="">
								<p>其他</p>
							</li>
						</ul>
					</div>
					<!-- 商品导航 -->
					<div class="sh_sort">
						<ul class="fl">
							<li><a href="" class="active">综合排序</a></li>
							<li><a href="">最热优先</a></li>
							<li><a href="">价格排序</a></li>
							<li><a href="">折扣</a></li>
						</ul>
					</div>
					<!-- 商品列表 -->
					<div class="sh_list">
						<ul></ul>
					</div>
				</div>
		</div>
	</div>
	<!--通用底部-->
	<div id="footer"></div>
    <!-- jq -->
	<script src="../script/jquery-3.5.1/jquery-3.5.1.js"></script>
	<!-- 封装js -->
	<script src="../script/utils.js"></script>
	<!-- logo -->
	<script src="../script/logo.js"></script>
	<!-- 商品菜单 -->
	<script src="../script/w_pt_nav.js"></script>
	<!-- 轮播 -->
	<script src="../script/W_main.js"></script>
	<!-- 通用头部模块 -->
	<script type="text/javascript">
		$('#head').load('header.html');
	</script>
	<!-- 通用底部模块 -->
	<script type="text/javascript">
		$('#footer').load('footer.html');
	</script>
</body>
</html>