<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <div class="W_main">
            <div class="W_main_head">
                <div class="head_logo">
                    <a href="../views/index.html"><img src="../images/logo-icon.png" alt=""></a>
                    <img src="../images/slogan-0224.png" alt="">
                </div>
            </div>
            <div class="register">
                <div class="content_login">
                    <h1>注册万表会员</h1>
                    <p>账号：<input type="text" class="user"></p>
                    <p>密码：<input type="text" class="pass"></p>
                    <p>
                        <button class="add">注册</button>
                    </p>
                </div>
            </div>
    </div>
    <script src="../script/utils.js"></script>
    <script src="../script/register.js"></script>
</body>
</html>